.loading-spinner{
    height:300px;
}

.share-container{
    width:100%;
    min-height:120px;
    border-radius: 10px;
}

.share-wrapper{
    padding:10px;
}

.share-wrapper .share-top{
    display:flex;
    align-items:center;
}

.share-box-img-container input{
    display: none;
}

.share-input{
    width: 80%;
    border: none;
    outline: none;
    padding:10px;
    border-radius: 10px;
}

.share-top-img{
    margin-right: 10px;
}

.share-hr{
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: 10px 0;
}

.share-box-img-container{
    position: relative;
}

.share-box-img-container .close-icon{
    cursor:pointer;
    position: absolute;
    top:40px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
}

.share-box-img-container .close-icon:hover{
    background-color: white;
}

.share-bottom{
    display: flex;
}
.share-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 0.3rem;
}
.share-option{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    cursor: pointer;
}

.share-option:last-child{
    border-right: none;
}

.share-icon{
    margin-right: 5px;
}

.share-option-text{
    font-size: 14px;
    font-weight: 500;
}
